

* {
    box-sizing: border-box;
    color: black;
    
}

input[type=text],
input[type=password],
input[type=date],
select,
option {
    width: 100%;
    padding: 10px;
    margin: 5px 5px 12px 0;
    display: inline-block;
    border: none;
    color: black;
    background: #f1f1f1;
}

label {
    color: grey;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}



.button{
    width: 50%;
    height: 35px;
    margin: 10px 0
  }
  
  .button input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
   .button input:hover{
   background: linear-gradient(-135deg, #71b7e6, #9b59b6);
   }
   .buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
   }

.cancelbtn {
    font-size: large;
    padding: 12.5px 20px;
    background-color: black;
    border: 1px solid grey;

}

.cancelbtn,
.signupbtn {
    float: left;
    width: 50%;
}

.container {
    padding: 16px;
}

.containerm {
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #333;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    background: linear-gradient(#8CA6DB, #B993D6);

}

.half {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 600px) {

    .cancelbtn,
    .signupbtn {
        width: 100%;
    }

    .containerm {
        width: 80%;
    }
}