<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="all">
  <div class="wrapper">
    <div class="sidebar">
      <br>
      <p class="myproject px-3">CATEGORIES</p>
      <ul>
        <li (click)="Filter('All')" (click)="hide()"><a>All</a></li>
        <li *ngFor="let c of Categories" (click)="Filter(c.id)" (click)="hide()"><a>{{c.name}}</a></li>
      </ul><br><br><br>
      <ul>

        <li *ngIf="isLog==true" (click)="onClick()" (click)="LoadFavorites()"><a>Your Favorite list</a></li>

      </ul><br>

      <input id="search" type="search" placeholder="Search..." [(ngModel)]="searchtext" (ngModelChange)="Search()"
        name="searchtext" />

    </div>
  </div>

  <div class="content">
    <div class="player" [style.display]="showMain ? 'block' : 'none'">
      <ul class="player__playlist list">

        <li *ngFor="let s of Songs | paginate: {itemsPerPage:9,currentPage:page,totalItems:totalLength}"
          class="player__song">

          <img class="player__img img" src="{{s.songcategory.categoryPic}}" alt="cover">

          <p class="player__context ">

            <b class="player__song-name">{{s.songName}} <span class="uppercase">NESTO</span> remix</b>
            <span class="flex">         
              <span class="player__title">by {{s.artristName}}</span>

              <!--   <span class="player__song-time">Added: {{s.addedDate.substring(5,7)+ "."+s.addedDate.substring(8,10)+"."+s.addedDate.substring(0,4)}}</span> -->
            </span>
            
          </p>
          <div>
            <span class="ratingg">Rating: {{s.songRating}}</span><br>
            <div class="rating">
            <input type="radio" name="rating" (click)="Rating=5"><label for="5">☆</label>
            <input type="radio" name="rating" (click)="Rating=4"><label for="4">☆</label>
            <input type="radio" name="rating" (click)="Rating=3"><label for="3">☆</label>
            <input type="radio" name="rating" (click)="Rating=2"><label for="2">☆</label>
            <input type="radio" name="rating" (click)="Rating=1"><label for="1">☆</label>
          </div>
        </div>
        <div class="main-div">
          <div class="button-div">
          <button class="fav-button">
              <i class="fa fa-star right"></i>
              <span style="padding-right: 10px;">Favorites</span>
          </button>
          </div>
      </div>

        </li>
      </ul>
    </div>
    <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>


    <div class="modal1" id="myModal" [style.display]="showModal1 ? 'block' : 'none'">

      <ul class="player__playlist list">
      
        <h2> FAVORITE SONGS</h2>
        <li *ngFor="let s of Favorites | paginate: {itemsPerPage:9,currentPage:page,totalItems:totalLength}"
          class="player__song">

          <img class="player__img img" src="{{s.song.songcategory.categoryPic}}" alt="cover">

          <p class="player__context ">

            <b class="player__song-name">{{s.song.songName}} <span class="uppercase">NESTO</span> remix</b>
            <span class="flex">

              <span class="player__title">by {{s.song.artristName}}</span>

            

              <!--   <span class="player__song-time">Added: {{s.addedDate.substring(5,7)+ "."+s.addedDate.substring(8,10)+"."+s.addedDate.substring(0,4)}}</span> -->
            </span>
          </p>

          <div>
            <span class="ratingg">Rating: {{s.song.songRating}}</span><br>
            <div class="rating">
            <input type="radio" name="rating" (click)="Rating=5"><label for="5">☆</label>
            <input type="radio" name="rating" (click)="Rating=4"><label for="4">☆</label>
            <input type="radio" name="rating" (click)="Rating=3"><label for="3">☆</label>
            <input type="radio" name="rating" (click)="Rating=2"><label for="2">☆</label>
            <input type="radio" name="rating" (click)="Rating=1"><label for="1">☆</label>
          </div>
        </div>
       

        </li>

      </ul>
    </div>



  </div>


</div>