* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Georgia, serif;

}

.pagination {
    position: fixed;
    bottom: 0;
    right: 35%;
}

.all {

    display: flex;
    flex-direction: row;
    height: 100%;
}

.content {
    width: 100%;
    overflow-y: scroll;

}

.wrapper {
    width: 30%;
}

.sidebar {
    width: 100%;
    height: 100%;
    background: linear-gradient(#8CA6DB, #B993D6);

}

.wrapper .sidebar ul li {
    padding: 10px;
}

.wrapper .sidebar ul li a {
    color: black;
    display: block;
}

.wrapper .sidebar ul li a .fas {
    width: 25px !important;
}

.wrapper .sidebar ul li a .far {
    width: 25px !important;
}

.wrapper .sidebar ul li:hover {
    background: #311B92;
    cursor: pointer;
}

.wrapper .sidebar ul li a:hover {
    color: white;
    text-decoration: none;
}

.myproject {
    color: black;
    font-size: 14px;
    margin-bottom: 0;
}

button {
    background-color: #000000;
    color: White;
    padding: 14px 20px;
    margin-bottom: 15px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

h2 {
    margin-bottom: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');


.flex {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.uppercase {

    text-transform: uppercase;

}

.player {

    overflow: hidden;
    font-size: 1.22em;
    border-radius: 1.35em;
    flex-direction: column;
    background-color: white;
    height: var(--parent-height);

}

.player__img {

    width: 3.22em;
    height: 3.22em;
    border-radius: 1.32em;

}

.player__img--absolute {

    top: 1.4em;
    left: 1.2em;
    position: absolute;

}

.player__context {

    margin: 0;
    width: 100%;
    display: flex;
    line-height: 1.8;
    flex-direction: column;
    justify-content: center;
    text-transform: capitalize;

}

.player__title {

    font-size: .7em;
    font-weight: bold;
    color: #00000086;

}

.player__playlist {

    height: 100%;
    overflow: auto;
    padding: 1.05em .9em 0 1.2em;

}

.player__playlist li:hover {
    background: linear-gradient(#8ca6db85, #b993d682);
    border-radius: 20px;
}

.player__song {

    display: flex;
    cursor: pointer;
    margin-bottom: .5em;
    padding-bottom: .7em;
    border-bottom: .1em solid #d8d8d859;

}

.player__song .player__context {

    line-height: 1.5;
    margin-left: .65em;

}

.player__song-name {
    font-size: .88em;

}

.player__song-time {

    font-size: .65em;
    font-weight: bold;
    color: #00000079;
    height: fit-content;
    align-self: flex-end;

}

.ratingg {

    font-size: .75em;
    font-weight: bold;
    color: #00000079;
    align-self: center;
}

input {
    border: 0;
    color: black;
    font-size: 1.3rem;
}

input[type="search"] {
    border: 1px solid #8ca6db85;
    outline: 0;
    width: 100%;
    color: white;
    background: black;
    padding: 0.5rem;
    border-radius: 10px;
    appearance: none;
    z-index: 1;
    position: relative;
}

.modal1 {
    height: 100%;
    width: 100%;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.rating>input {
    display: none;
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 2vw;
    color: #FFD600;
    cursor: pointer;
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0;
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important;
}

.rating>input:checked~label:before {
    opacity: 1;
}

.rating:hover>input:checked~label:before {
    opacity: 0.4;
}

body {
    background: #222225;
    color: white;
}


h1 {
    margin-top: 50px;
}

p {
    font-size: 1.2rem;
}



.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div {
    padding: 15px;
    position: relative;
}

.fav-button {
    border: none;
    height: 40px;
    width: 120px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fav-button i {
    position: absolute;
    left: 70px;

}

.fav-button:active i {

    animation: item 1s ease-in forwards;
}

@keyframes item {
    0% {
        top: 20%;
        color: #000;
    }

    25% {
        top: 60%;
        color: #000;
    }

    50% {
        top: 100%;
    }

    75% {
        top: 60%;
    }

    0% {
        top: 0%;
    }
}

.right {
    right: 0;
}

.btn {
    background: none;
    height: 60px;
    padding-left: 20px;
    cursor: pointer;
    margin: 0;
    width: 10px;

}

.btn-delete {
    font-size: 20px;
    color: red;
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
    .all{
        display: flex;
        flex-direction: column; 
    }
    .wrapper{
        width: 100%;
        height: 35%;
        overflow: scroll;
        background: #b993d6;

    }

    .player__context{
        width: 100%;
    }

    .ratingg{
        display: flex;
        justify-content: right;
        margin-top:20px;
        margin-bottom: 5px;
        font-size: 10px;
    }
    .rating>label {
        position: relative;
        width: 1em;
        font-size: 5vw;
        color: #FFD600;
        cursor: pointer;
    }
    .player__song{
        display: flex;
        flex-direction: row;
    }
  

    .button-div {
        padding: 10px;
        position: relative;
    }
    
    .fav-button {
        border: none;
        height: 40px;
        width: 60px;
        font-size: 12px;
        background-color: #000;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .fav-button i {
        position: absolute;
        left: 55px;
    
    }

}